# Finding Resemblance to identify potential serial killers in homicide statistics #

In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## Loading the dataset ##

In [30]:
input_file1 = "database1.csv"
input_file2 = "database2.csv"

df1 = pd.read_csv(input_file1, header = 0)
df2 = pd.read_csv(input_file2, header = 0)

frames = [df1, df2]

df = pd.concat(frames)

states = df['State'].unique()
years = df['Year'].unique()

I had to split the database into two separate ones because of file limitations in github.
With the code passage above I load the dataset and find all unique values for state and year.

In [50]:
for year in years:  
    case = df.loc[df['Year'] == year]
    print "Cases in %0.f: %0.f" %(year, len(case))
for state in states:  
    case = df.loc[df['State'] == state]
    print "Cases in %s: %0.f" %(state, len(case))

Cases in 1980: 23080
Cases in nan: 0
Cases in 1981: 21195
Cases in 1982: 20528
Cases in 1983: 19646
Cases in 1984: 18083
Cases in 1985: 18381
Cases in 1986: 20119
Cases in 1987: 18777
Cases in 1988: 18769
Cases in 1989: 19859
Cases in 1990: 21246
Cases in 1991: 22655
Cases in 1992: 23793
Cases in 1993: 24335
Cases in 1994: 23247
Cases in 1995: 21179
Cases in 1996: 18968
Cases in 1997: 17794
Cases in 1998: 16061
Cases in 1999: 14621
Cases in 2000: 14664
Cases in 2001: 15802
Cases in 2002: 16268
Cases in 2003: 16509
Cases in 2004: 16233
Cases in 2005: 16835
Cases in 2006: 17274
Cases in 2007: 17303
Cases in 2008: 15595
Cases in 2009: 15840
Cases in 2010: 15121
Cases in 2011: 14756
Cases in 2012: 15032
Cases in 2013: 14444
Cases in 2014: 14330
Cases in Alaska: 1617
Cases in Alabama: 11376
Cases in Arkansas: 6947
Cases in Arizona: 12871
Cases in California: 99782
Cases in Colorado: 6593
Cases in Connecticut: 4896
Cases in District of Columbia: 7115
Cases in Delaware: 1179
Cases in Florida: 37149
Cases in Georgia: 21088
Cases in Hawaii: 1338
Cases in Iowa: 1749
Cases in Idaho: 1150
Cases in Illinois: 25871
Cases in Indiana: 11464
Cases in Kansas: 3085
Cases in Kentucky: 6554
Cases in Louisiana: 19628
Cases in Massachusetts: 6035
Cases in Maryland: 17312
Cases in Maine: 869
Cases in Michigan: 28448
Cases in Minnesota: 3975
Cases in Missouri: 14832
Cases in Mississippi: 6546
Cases in Montana: 601
Cases in Nebraska: 1331
Cases in North Carolina: 20390
Cases in North Dakota: 308
Cases in New Hampshire: 655
Cases in New Jersey: 14037
Cases in nan: 0
Cases in New Mexico: 4272
Cases in Nevada: 5553
Cases in New York: 49268
Cases in Ohio: 19158
Cases in Oklahoma: 8809
Cases in Oregon: 4217
Cases in Pennsylvania: 24236
Cases in Rhodes Island: 1211
Cases in South Carolina: 11698
Cases in South Dakota: 442
Cases in Tennessee: 14930
Cases in Texas: 62095
Cases in Utah: 2033
Cases in Virginia: 15520
Cases in Vermont: 412
Cases in Washington: 7815
Cases in Wisconsin: 6191
Cases in West Virginia: 3061
Cases in Wyoming: 630